* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 30px;
    background-color: #00eeff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}
.nav-logo {
    color: #02025e;
    justify-self: start;
    cursor: pointer;
}
.fa-react {
    margin-left: 0.2rem;
    font-size: 1.8rem;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat( 6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
}
.nav-links {
    text-decoration: none;
    color: #02025e;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.nav-links i {
    padding-right: 10px;
}
.nav-links:hover {
    background: #fff;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}
.fa-bars, .fa-times {
    color: #02025e;
    cursor: pointer;
}
.menu-icon {
    display: none;
}
.nav-links-mobile {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    background-color: #02025e;
    color: #00eeff;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
@media (max-width: 850px) {
    .navbar-item {
        z-index: 99;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #00eeff;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        /* backdrop-filter: blur(4px); */
        border-radius: 13px;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: all .4s ease-in-out;
    }
    .nav-menu.active {
        left: 0%;
    }
    .nav-links {
        display: block;
        width: 100%;
        padding: 2rem 0;
        color: #02025e;
    }
    .menu-icon {
        display: block;
    }
    .nav-links-mobile {
        padding: 1rem;
        display: block;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        width: 60%;
        margin: auto;
    }
}